body {
    background-color: rgb(253, 251, 251);
}

header h1{
 text-align: 45%;

}

#cabecalho {
    position:fixed;
    top:0%;
}

#minha_foto {
    width: 250px;

}

#licoes_aprendidas {
    position: absolute;
    top: 450px;

}

#licoes_a_aprender {
    margin-left: 400px;
    padding-top: 448px;
    border: 400px;
}

aside {
    font-family: monospace;
    font-size: 18px;
    color: rgb(111, 0, 255);
    line-height: normal;

}

